body {
    background-color: rgb(28, 33, 51);
}

* {
    box-sizing: border-box;
}

/* homepage styles */

.homepage-title {
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.616);
    color: rgb(156, 115, 0);
    width: 500px;
    margin: auto;
    margin-top: 20px;
    font-family: Arial, Papyrus, sans-serif;
    border: 5px solid rgb(156, 115, 0);
}

.intro-p {
    color: rgba(255, 255, 255, 0.607);
    font: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 700px;
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
}

.hp-now {
    color: red;
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe-container-list {
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(135, 99, 0);
    color: white;
    border: dotted white 5px;

}

.hp-list {
    color: white;
}









/* LASAGNA STYLE PAGE */

.lasagna-title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: bisque;
    color: blue;
    width: 500px;
    margin: 50px auto;
    

}

.lasagna-desc {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 500;
    color: red;
}

.lasagna-desc-heading {
    font-size: larger;
    font-weight: lighter;
    background-color: deepskyblue;
    color: peru;
    
}

.lasagna-title-ingred {

    width: 200px;
    border: solid; color: aquamarine;
    text-align: center;
}

.list-lasag-ingred {
    border: solid; color: aquamarine;
    width: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.steps-lasag {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: teal;
    background-color: black;
    border: dotted; color: aqua;
    margin-bottom: 50px;
    margin-left: 100px;
    width: 710px;
    padding: 20px;
}











/* FISH AND CHIPS PAGE STYLE */

.fishandchips-title {
    text-align:center;
    background-color: black;
    color: rosybrown;
    font-weight: 900;
    font-size: 50px;

}

.fishandchips-desc {
    text-align: right;
    font-weight: 900;
    color: aquamarine;
    background-color: tomato;
}

.img-fishandchips {
    height: auto;
    width: 500px;
}

.ingredients-title {
    font-style: italic;
    font-family: initial;
    font-size: xx-small;
    color: lime;
}

.step,
.second-desc {
    font-style: italic;
    color: yellowgreen;
}

.fourth-step {
    font-weight: 700;
    color: steelblue;
}

.body-stuff {
    background-color: blanchedalmond;
}










/* biryani page style */

.list-of-ings {
    background-color: rgb(105, 105, 105);
    color: aqua;
} /* this shows inheritance */

.biryani-title {
    box-sizing: border-box;
    color: white;
    background-color: rgb(122, 193, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 500px;
    margin: 40px auto;
    text-align: center;
}



.biryani-pic {
    width: 300px;
    height: auto;
    display: inline-block;
    margin-right: 20px;
}
.desc-title-b {
    color: gold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    width: 200px;
    text-align: right;
}

.desc-b {
    width: 500px;
    color: white;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    
}

.step-list-b {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 900;
    font-style: italic;
    color: greenyellow;
}